/*-------------------- RESET CSS --------------------*/

:root {
    --color-blue: #213f6f;
    --color-gray: #79747e;
    --color-orange: #ffc888;
    --color-dark-blue: #232a35;
    --color-dark-orange: #ff9327;
    --color-red: #ff6962;
    --color-green: #8CD47E;
    --color-white: #f5f5f5;

    --font-quick: 'Quicksand', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-rubik);
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

h1, h2, h3, h4 {
    font-family: var(--font-quick);
}

/*-------------------- BOTONES --------------------*/
.btn-primary {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-rubik);
    padding: 5px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.highlight-primary {
    background-color: var(--color-dark-orange);
}
/*-------------------- BOTONES --------------------*/

/*---- ESTILO NAVBAR ----*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 1rem;
}

.logo{
    width: 30px;
    height: 30px; 
    
}

/*---- ESTILO BANNER ----*/
.banner {
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 8rem;
    padding: 1rem;
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.7)), url(../img/comida_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.historial{
    margin: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
}

.historial h1{
    text-align: center;
}

.historial ul {
    list-style: none;
    padding: 1rem;
    margin: 1rem 0;
}

.historial li {
    background: #fff;
    margin: 5px 0;
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.historial li:hover{
    background-color: #ffc888;
}