/*-------------------- RESET CSS --------------------*/

:root {
    --color-dark-blue: #2c3e50;
    --color-orange: #ffcc80;
    --color-dark-orange: #ff9327;
    --color-gold: #f1c40f;
    --color-red:#f42c54;
    --color-green: #08cc8c;
    --color-dark-green: #8eac84;
    --color-yellow: #ffe57f;
    --color-white: #ffffff;
    --color-gray: #ecf0f1;
    --color-dark-grey:#34495e;

    --font-quick: 'Quicksand', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-rubik);
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

h1, h2, h3, h4 {
    font-family: var(--font-quick);
}

/*---- ESTILO HEADER ----*/

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    height: 2.5rem;                  
    padding: 1rem;    
    width: 100%;   

    position: relative;
    z-index: 10;

    background-color: var(--color-red);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo{
    width: 2.3rem;                  
    height: 2.3rem;                                 
    border-radius: 50%;
}

.logo img{
    width: auto;                    
    height: 100%;                                  
}

header h2{
    margin-left: 1rem; 
    font-size: 1.8rem;
    color: var(--color-white);
    width: 100%;
}

/*---- ESTILO NAVBAR ----*/
.navbar {
    padding: 0.5rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    background-color: transparent;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-rubik);
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}

.navbar li:hover{
    text-decoration:underline;
}

/*---- ESTILO MAIN ----*/

main{
    display: flex;
    width: 100%;
}

/*---- ESTILO CONTENIDO ----*/

.contenido{
    flex:1;
    margin-left: 20%;
    
}

/*---- ESTILO BANNER ----*/

.banner {
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 10rem;
    padding: 0;

    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../img/img-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*---- ESTILO SIDEBAR ----*/
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100vh;
    padding: 2rem;

    position: fixed;
    top:0;
    z-index: 5;
    

    background: var(--color-red);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    color: var(--color-white);
    text-align: center;
    
}

.sidebar h1{
    margin-bottom: 1rem;
}

/*---- SCROLL TO TOP----*/

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-dark-orange);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: none; /* Ocultar inicialmente */
    transition: opacity 0.3s;
}

.historial{
    margin: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
}

.historial h1{
    text-align: center;
}

.historial ul {
    list-style: none;
    padding: 1rem;
    margin: 1rem 0;
}

.historial li {
    background: #fff;
    margin: 5px 0;
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.historial li:hover{
    background-color: #ffc888;
}