@import url(card.css);
/*-------------------- RESET CSS --------------------*/

:root {
    --color-blue: #213f6f;
    --color-gray: #79747e;
    --color-orange: #ffc888;
    --color-dark-blue: #232a35;
    --color-dark-orange: #ff9327;
    --color-red: #ff6962;
    --color-green: #8CD47E;
    --color-white: #f5f5f5;

    --font-quick: 'Quicksand', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-rubik);
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

h1, h2, h3, h4 {
    font-family: var(--font-quick);
}

/*-------------------- BOTONES --------------------*/
.btn-primary {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-rubik);
    padding: 5px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.highlight-primary {
    background-color: var(--color-dark-orange);
}

.day-button {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-rubik);
    padding: 5px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.highlight-day {
    background-color: var(--color-orange);
}

/*---- ESTILO NAVBAR ----*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 1rem;
}

.logo{
    width: 30px;
    height: 30px; 
    
}
/*---- ESTILO BANNER ----*/
.banner {
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 8rem;
    padding: 1rem;
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.7)), url(../img/comida_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*---- ESTILO BARRA DE DIAS ----*/
.daybar {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.daybar-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.daybar-links li {
    margin-left: 0.5rem;
}

/*---- ESTILO SECCIÓN DE MENU ----*/
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(271px, 1fr));
    gap: 1rem; /* Espacio entre las cards */
    padding: 1rem;
}

/*---- SCROLL TO TOP----*/

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-dark-orange);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: none; /* Ocultar inicialmente */
    transition: opacity 0.3s;
}

/*---- SUPER PARCHEADO Y MAL HECHO (PARA SAFAR) ----*/

.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
}

#finalizarPedido {
    background-color: var(--color-green);
    color: black;
    font-size: 0.6rem;
    font-weight: 300;
    font-family: var(--font-rubik);
    padding: 5px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}