@import url(card.css);
/*-------------------- RESET CSS --------------------*/

:root {
    --color-dark-blue: #2c3e50;
    --color-orange: #ffcc80;
    --color-dark-orange: #ff9327;
    --color-gold: #f1c40f;
    --color-red:#f42c54;
    --color-green: #08cc8c;
    --color-dark-green: #8eac84;
    --color-yellow: #ffe57f;
    --color-white: #ffffff;
    --color-gray: #ecf0f1;
    --color-dark-grey:#34495e;

    --font-quick: 'Quicksand', sans-serif;
    --font-rubik: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-rubik);
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
}

h1, h2, h3, h4 {
    font-family: var(--font-quick);
}

/*---- ESTILO HEADER ----*/

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    height: 2.5rem;                  
    padding: 1rem;    
    width: 100%;   

    position: relative;
    z-index: 10;

    background-color: var(--color-red);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo{
    width: 2.3rem;                  
    height: 2.3rem;                                 
    border-radius: 50%;
}

.logo img{
    width: auto;                    
    height: 100%;                                  
}

header h2{
    margin-left: 1rem; 
    font-size: 1.8rem;
    color: var(--color-white);
    width: 100%;
}

/*---- ESTILO NAVBAR ----*/
.navbar {
    padding: 0.5rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    background-color: transparent;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-rubik);
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}

.navbar li:hover{
    text-decoration:underline;
}

/* main  */

body {
    background-image: url(../img/fondo-foodify2.jpg);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Cubre toda la pantalla, manteniendo la relación de aspecto */
    background-position: center; /* Centra la imagen en el contenedor */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll (opcional) */
}

.perfil-container {
    margin-top: 6rem;
    text-align: center;
}

h1 {
    color: red;
}

img {
    height: 100px;
    width: 100px;
}

.container-boton {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    justify-content: center; /* Centra verticalmente el contenido si fuera necesario */

}

.container-boton-modificar {
    background-color: rgb(67, 195, 67);
}

.container-boton-modificar, 
.container-boton-baja {
    width: 250px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.container-boton-baja {
    background-color: red;
    cursor: pointer;
}

.boton {
    text-decoration: none;
    color: white;
    cursor: pointer;
}